{{#if hasBlock}}
    {{yield stars}}
{{else}}
 {{log stars}}
    {{#each stars as |star|}}
        <a href="#" {{action "setRating" star.rating}} class="star-rating ">
            <i class="{{if star.full 'fas' 'far'}}  fa-star "></i>
        </a>
    {{/each}}
{{/if}}
